# git message template
.gitmessage

# DS-Store
**/.DS_Store

# __init__.py
**/__init__.py

# vscode 
**/extensions.json
**/settings.json
**/.vscode

# idea
**/.idea

# pycache
**/__pycache__

# misc
src/constants/secrets.py
